.header {
  background-color: black;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  /* padding-left: 50px; */
}
.header img {
  height: 50px;
  vertical-align: center;
  margin-left: 50px;
}
.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  /* width: 100%; */

  color: white;
  font-family: "Arial";
  font-weight: 700;
  font-size: 20px;
  padding: 10px;
}
.section > :last-child {
  margin-bottom: 50px;
}
.category {
  margin-bottom: 20px;
}
.images {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.images::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
.images {
  -ms-overflow-style: none;
}
.images img {
  width: 223px;
}
